
body {
	background: red;
	color: white;
	font-family: sans-serif;
}

div {
	position: absolute;
}

#fxscreen {
	background: red;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.glyph {
	font-family: "Glyphish";
	font-size: 3em;
	color: white;
}

.player {
	font-family: helvetica;
	color: white;
}

.me { 
	color: white;
}

.candy {
	font-size: 2.5em;
}

#player1 { left: 40px; top: 60px; }
#player2 { left: 240px; top: 140px; }
#player3 { left: 100px; top: 75px; }
#player4 { left: 50px; top: 50px; }

#candy1 { left: 40px; top: 120px; }
#candy2 { left: 240px; top: 150px; }
#candy3 { left: 140px; top: 180px; }

#leaderboard { 
	right: 20px; 
	top: 160px; 
	font-family: "Giant";
	font-size: 14px;
}
#leaderboard table tr td { margin: 0; }
#leaderboard table { border-spacing: 0; }

#countdown {
	font-family: "Giant";
	font-size: 20px;
	top: 20px;
	right: 20px;
}

#countdown .counter {
	display: block;
	font-size: 60px;
}

#title {
	font-family: "Giant", sans-serif;
	font-size: 26px;
	left: 20px;
	bottom: 20px;
}